<section id="contact" class="contact-section section">

    <div class="container">

        <!-- HEADER -->
        <div class="section-header">

            <span class="section-label" data-lang="contact_label">
                Donde estamos
            </span>

            <h2 class="section-title" data-lang="contact_title">
                Contacto
            </h2>

        </div>

    </div>

    <!-- Map Section Begin -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2326.591895269895!2d2.6551698!3d41.6123104!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1729779316863!5m2!1ses!2ses"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

        <img src="img/favicon.png" alt="">
    </div>
    <!-- Map Section End -->

</section>