<section id="facilities" class="gallery-section">

    <div class="container">

        <!-- HEADER -->
        <div class="section-header">

            <span class="section-label" data-lang="facilities_label">
                Centro
            </span>

            <h2 class="section-title" data-lang="facilities_title">
                Instalaciones
            </h2>
        </div>

        <div class="row g-4 mt-4">

            <div class="col-lg-4 col-md-6">
                <div class="gallery-card">
                    <img src="img/gallery/facilities-1.jpg" class="gallery-img" onclick="openGallery(this.src)"
                        title="sacos">
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="gallery-card">
                    <img src="img/gallery/facilities-2.jpg" class="gallery-img" onclick="openGallery(this.src)">
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="gallery-card">
                    <img src="img/gallery/facilities-3.jpg" class="gallery-img" onclick="openGallery(this.src)">
                </div>
            </div>

           

        </div>

    </div>

</section>

<!-- LIGHTBOX -->

<div id="lightbox" class="lightbox">

    <span class="close-lightbox" onclick="closeGallery()">
        <i class="fas fa-times"></i>
    </span>

    <img id="lightboxImage">

</div>