<footer class="footer">

    <div class="container">

        <div class="footer-top">

            <!-- Logo -->

            <div class="footer-brand">

                <img src="img/logo.png" alt="Costa Fit Calella">



            </div>

            <!-- Menú -->

            <div class="footer-menu">

                <a href="#martialarts" data-lang="menu_martial_arts">Artes Marciales</a>

                <a href="#aboutme" data-lang="menu_aboutme">Sobre mí</a>

                <a href="#osteopatia" data-lang="menu_osteopathy">Osteopatía</a>

                <a href="#facilities" data-lang="menu_facilities">Instalaciones</a>

                <a href="#contact" data-lang="menu_contact">Contacto</a>

            </div>

            <!-- Contacto -->

            <div class="footer-contact">


                <p> <i class="fas fa-phone"></i>
                    +34 679 08 99 61</p>

                <p><i class="fas fa-location-dot"></i>
                    Calella · Barcelona

                </p>
                <p>
                    <i class="fas fa-envelope"></i>
                    info@costafitcalella.com
                </p>

                <div class="footer-social">

                    <a href="https://www.facebook.com/ruben.siamgym" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a>
                   <a href="https://www.instagram.com/costafit_calella/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>

                </div>

            </div>

        </div>

        <hr>

        <div class="footer-bottom">

            <span>
                © 2026 Costa Fit Calella
            </span>

            <div>

                <a href="#" data-toggle="modal" data-target="#privacyModal" data-lang="footer_privacy">Política de
                    privacidad</a>
                <a href="#" data-toggle="modal" data-target="#avisoModal" data-lang="footer_legal">Aviso legal</a>

            </div>

            <span>
                <span data-lang="footer_designed_by">Diseñado por</span>
                <a href="https://scordero.com" target="_blank">
                    <strong>SCordero</strong>
                </a>
            </span>



        </div>

    </div>

</footer>