<section class="hero">

    <div class="hero-image">
        <img src="img/services/muay-thai.jpg" alt="Entrenamiento en Costa Fit">
    </div>

    <div class="container">

        <div class="hero-content">

         

            <h1 data-lang="hero_title">
               TODO LO QUE TU  
                <strong>CUERPO</strong>
                NECESITA
            </h1>

            <p class="hero-description" data-lang="hero_description">
                Artes marciales, entrenamiento y osteopatía
                en un mismo espacio. Diferentes profesionales,
                distintas disciplinas y un objetivo:
                ayudarte a estar mejor.
            </p>

            <div class="buttons">

                <a href="#contacto" class="btn btn-primary" data-lang="hero_btn_start">
                    Quiero empezar
                    <i class="fa-solid fa-arrow-right"></i>
                </a>

                <a href="#timetable" class="btn btn-secondary" data-lang="hero_btn_timetable">
                    Ver horarios
                </a>

            </div>

            <div class="hero-trust">

                <span data-lang="hero_trust1">
                    <i class="fa-solid fa-check" ></i>
                    Todos los niveles
                </span>

                <span data-lang="hero_trust2">
                    <i class="fa-solid fa-check"></i>
                    Niños y adultos
                </span>

                <span data-lang="hero_trust3">
                    <i class="fa-solid fa-check"></i>
                    Profesionales
                </span>

            </div>

        </div>

    </div>

</section>
