<section id="vacaciones" class="vacaciones-round">

  <div class="round-inner">

    <h2>
      <span data-lang="holidays_title"></span><br>
      <span data-lang="holidays_round"></span>
    </h2>

    <div class="round-line"></div>

    <div class="round-dates">

      <span id="fechaInicio"></span>

      <strong>→</strong>

      <span id="fechaFin"></span>

    </div>

    <p class="round-description">

      <span data-lang="holidays_description"></span>

      <strong id="fechaVuelta"></strong>.

    </p>

    <div
      class="round-bottom"
      data-lang="holidays_bottom">
    </div>

  </div>

</section>