<nav class="nav">

    <div class="dropdown">
        <a href="#martiarts" data-lang="menu_martial_arts">
            <i class="fas fa-fist-raised"></i> Artes marciales <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-menu">
            <a href="#">Muay Thai</a>
            <a href="#">Muay Thai Kids</a>
            <a href="#">Boxing</a>
            <a href="#">Jiu-Jitsu</a>
            <a href="#">Defensa personal</a>
            <a href="#">Yoga</a>
        </div>
    </div>

    <a href="#osteopathy" data-lang="menu_osteopathy"> <i class="fas fa-hands fs-3"></i> Osteopatía</a>
    <a href="#timetable" data-lang="menu_timetable">Horario</a>
    <a href="#aboutme" data-lang="menu_aboutme">Sobre mí</a>
    <a href="#facilities" data-lang="menu_facilities">Instalaciones</a>
    <a href="#contact" data-lang="menu_contact">Contacto</a>

</nav>

<!-- HAMBURGUESA MOBILE -->
<input type="checkbox" id="menu-toggle">
<label for="menu-toggle" class="burger">☰ Menú</label>

<nav class="mobile-nav">
    <a href="#martialarts">Artes marciales</a>
    <a href="#aboutme">Sobre mí</a>
    <a href="#osteopathy" data-lang="menu_osteopathy">Osteopatía</a>
    <a href="#timetable" data-lang="menu_timetable">Galería</a>
    <a href="#">Contacto</a>
</nav>