<div class="quick-menu-grid">

    <a href="#martialarts" class="quick-menu-item">
        <i class="fa-solid fa-hand-fist"></i>
          <span data-lang="menu_martial_arts">ARTES MARCIALES</span>
      
    </a>

     <a href="#facilities" class="quick-menu-item">
        <i class="fa-solid fa-dumbbell"></i>
          <span data-lang="facilities_title">Instalaciones</span>
      
    </a>



   <a href="#osteopathy" class="quick-menu-item">
        <i class="fa-solid fa-person-circle-check"></i>
       <span data-lang="service_osteopathy">OSTEOPATÍA</span>
    </a>

  <a href="#thaikids" class="quick-menu-item">
        <i class="fa-solid fa-child-reaching"></i>
         <span data-lang="kids_title">Kids</span>
    </a>

    <a href="#timetable" class="quick-menu-item">

       <i class="fa-solid fa-calendar"></i>
          <span data-lang="schedule_title">Horario</span>
    </a>

</div>