<section id="timetable" class="section-timetable section">

    <div class="container">

        <div class="section-header">

            <span class="section-label" data-lang="timetable_label">
                ORGANIZACIÓN
            </span>

            <h2 class="section-title" data-lang="timetable_title">
                Horario
            </h2>

        </div>

        <div class="schedule-table">

            <table class="table text-center align-middle mb-0">

                <thead>

                    <tr>

                        <th class="hour" data-lang="schedule_hour">Hora</th>

                        <th data-lang="schedule_monday">Lunes</th>

                        <th data-lang="schedule_tuesday">Martes</th>

                        <th data-lang="schedule_wednesday">Miércoles</th>

                        <th data-lang="schedule_thursday">Jueves</th>

                        <th data-lang="schedule_friday">Viernes</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td class="hour">07:30</td>

                        <td></td>

                        <td>
                            <span class="class yoga">
                                <div class="class-name">Yoga</div>
                                <div class="class-time">07:30 - 08:30</div>
                            </span>
                        </td>

                        <td></td>

                        <td></td>

                        <td>
                            <span class="class yoga">
                                <div class="class-name">Yoga</div>
                                <div class="class-time">07:30 - 08:30</div>
                            </span>
                        </td>

                    </tr>

                    <tr>

                        <td class="hour">10:00</td>

                        <td></td>

                        <td>
                            <span class="class jiu">
                                <div class="class-name">Jiu-Jitsu</div>
                                <div class="class-time">10:00 - 11:30</div>
                            </span>
                        </td>

                        <td>
                            <span class="class defense">

                                <div class="class-name"> Defensa Personal</div>
                                <div class="class-time">10:00 - 11:00</div>
                            </span>
                        </td>

                        <td></td>

                        <td>
                            <span class="class jiu">
                                <div class="class-name">Jiu-Jitsu</div>
                                <div class="class-time">10:00 - 11:30</div>
                            </span>
                        </td>

                    </tr>

                    <tr>

                        <td class="hour">17:00</td>

                        <td>
                            <span class="class kids">
                                <div class="class-name">Muay Thai Educativo</div>
                                <div class="class-time">17.15 - 18.00</div>
                            </span>
                        </td>

                        <td>
                            <span class="class kids">
                                <div class="class-name">Muay Thai Kids</div>
                                <div class="class-time">17.00 - 18.00</div>
                            </span>
                        </td>

                        <td>
                            <span class="class kids">
                                <div class="class-name">Muay Thai Educativo</div>
                                <div class="class-time">17.15 - 18.00</div>
                            </span>
                        </td>

                        <td>
                            <span class="class kids">
                                <div class="class-name">Muay Thai Kids</div>
                                <div class="class-time">17.00 - 18.00</div>
                            </span>
                        </td>

                        <td></td>

                    </tr>

                    <tr>

                        <td class="hour">18:00</td>

                        <td>
                            <span class="class boxing">
                                <div class="class-name">Boxing</div>
                                <div class="class-time">18.00 - 19.00</div>
                            </span>
                        </td>

                        <td>
                            <span class="class muay">
                                <div class="class-name">Muay Thai juniors</div>
                                <div class="class-time">18.00 - 19.00</div>
                            </span>
                        </td>

                        <td>
                            <span class="class boxing">
                                <div class="class-name">Boxing</div>
                                <div class="class-time">18.00 - 19.00</div>
                            </span>
                        </td>

                        <td>
                            <span class="class muay">
                                <div class="class-name">Muay Thai juniors</div>
                                <div class="class-time">18.00 - 19.00</div>
                            </span>
                        </td>

                        <td>
                            <span class="class boxing">
                                <div class="class-name">Boxing</div>
                                <div class="class-time">18.00 - 19.00</div>
                            </span>
                        </td>

                    </tr>

                    <tr>

                        <td class="hour">19:00</td>

                        <td></td>

                        <td>
                            <span class="class senior">
                                <div class="class-name">Muay Thai Seniors</div>
                                <div class="class-time">19:00 - 20:00</div>
                            </span>
                        </td>

                        <td></td>

                        <td>
                            <span class="class senior">
                                 <div class="class-name">Muay Thai Seniors</div>
                                <div class="class-time">19:00 - 20:00</div>
                            </span>
                        </td>

                        <td>
                            <span class="class senior">
                              
                                  <div class="class-name">Muay Thai Seniors</div>
                                <div class="class-time">19:00 - 20:00</div>
                            </span>
                        </td>

                    </tr>
                    
                    <tr>

                        <td class="hour">20:00</td>

                        <td></td>

                        <td>
                            <span class="class defense">
                                 <div class="class-name">Defensa personal</div>
                                <div class="class-time">20.00 - 21.00</div>
                            </span>
                        </td>

                        <td></td>

                        <td>
                            <span class="class defense">
                                   <div class="class-name">Defensa personal</div>
                                <div class="class-time">20.00 - 21.00</div>
                            </span>
                        </td>

                        <td>
                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</section>