 <section id="trainers" class="trainer-section section">

        <div class="container">

            <div class="section-header">

                <span class="section-label" data-lang="trainers_label">
                    Entrenador
                </span>

                 <h2 class="section-title" data-lang="trainers_title">
                    Equipo
                </h2>
            </div>



            <!-- ENTRENADORES -->
            <div class="row g-4">

            
                <div class="col-lg-4">

                    <div class="trainer-card text-center">

                        <img src="img/trainer/trainer-1.jpg" class="trainer-img">

                        <h3 data-lang="trainer1_title">Defensa personal y JJB</h3>

                        <p data-lang="trainer1_description">Control, estrategia y defensa para la vida real.</p>

                    </div>

                </div>

             
                <div class="col-lg-4">

                    <div class="trainer-card text-center">

                        <img src="img/trainer/trainer-2.jpg" class="trainer-img">

                        <h3 data-lang="trainer2_title">Boxeo & Muay thai</h3>
                        <p data-lang="trainer2_description">Técnica, disciplina y pasión por el Muay Thai.</p>


                    </div>

                </div>

                <div class="col-lg-4">

                    <div class="trainer-card text-center">

                        <img src="img/trainer/trainer-3.jpg" class="trainer-img">

                        <h3 data-lang="trainer3_title">YOGA</h3>

                        <p data-lang="trainer3_description">Equilibrio entre cuerpo, mente y respiración.</p>

                    </div>

                </div>

            </div>

        </div>

    </section>